$body-bg-color: #8E94F2;
$content-color: #1F2421;
$content-bg-color: #FCFAFA;
body {
    background-color: $body-bg-color;
    color: white;
    font-family: sans-serif;
}

.body-wrapper {
    margin: auto;
    padding: 0;
    display: flex;
    width: 60vw;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.body-head {
    height: 25%;
    width: 100%;
    font-size: 4em;
    padding: 0.5em 1em 0.5em 1em;
}

.body-content {
    width: 100%;
    background-color: $content-bg-color;
    color: $content-color;
    padding: 1em;
    font-size: 2em;
}

#filter {
    padding: 1em;
    display: flex;
    justify-content: center;
    background: #0A2342;
}

.sticky {
    position: fixed;
    top: 0;
    width: 55.5vw;
}

.sticky+.content-results {
    padding-top: 102px;
}

.content-results {
    padding: 1em;
    border: 1px solid $content-color;
    font-size: 0.7em;
    h2 {
        margin-block-start: 0.03em;
        margin-block-end: 0.10em;
    }
}

#res-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    ;
}

#htl-img {
    width: 100%;
}

#res-title {
    display: inline-block;
}

#star {
    display: inline-block;
}

button {
    margin-left: 1em;
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid $content-color;
    color: $content-color;
    background: $content-bg-color;
    cursor: pointer;
    &:hover {
        color: $body-bg-color;
    }
    &:active {}
}

#search-btn {
    background: #94C5CC;
}

#select-filter {
    padding: 0.5em;
}