$body-bg-color: rgb(169, 230, 194);
$content-color: #1F2421;
$content-bg-color: rgb(252, 252, 248);
body {
    // background-color: $body-bg-color;
    color: white;
    font-family: "IBM Plex Sans", sans-serif;
    margin: 0px 8px 8px 8px;
    background-color: $content-bg-color;
}

.body-wrapper {
    margin: auto;
    padding: 0;
    display: flex;
    width: 60vw;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.body-head {
    height: 15%;
    width: 100vw;
    font-size: 4em;
    padding: 0.1em 1em 0.1em 1em;
    text-align: center;
    color: black;
    background-color: $body-bg-color;
}

.body-content {
    width: 100%;
    background-color: $content-bg-color;
    color: $content-color;
    padding: 1em;
    font-size: 2em;
}

#filter {
    padding: 1em;
    display: flex;
    justify-content: center;
    background: $content-bg-color;
    top: -10px;
    border-bottom: 3px solid black;
}

.sticky {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 95vw;
    transform: translate3d(0, 0, 0);
    margin-bottom: 10%;
}

.content-results {
    padding: 1em;
    border-bottom: 3px solid $content-color;
    font-size: 0.7em;
    h2 {
        margin-block-start: 0.03em;
        margin-block-end: 0.10em;
    }
}

.content-results:nth-child(2) {
    background: white;
}

#res-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    ;
}

#htl-img {
    width: 100%;
}

#res-title {
    display: inline-block;
}

#star {
    display: inline-block;
}

button {
    margin-left: 1em;
    padding: 0.5em;
    // border-radius: 4px;
    // border: 1px solid $content-color;
    border-width: 2px;
    border-style: solid;
    border-image: initial;
    border-color: rgb(0, 0, 0);
    border-radius: 100px;
    text-decoration: none;
    color: $content-color;
    background: $content-bg-color;
    cursor: pointer;
    &:hover {
        color: $body-bg-color;
    }
    &:active {}
}

#search-btn {
    background: $body-bg-color;
    &:hover {
        color: white;
    }
}

#select-filter {
    padding: 0.5em;
}

select {
    box-shadow: none;
    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: .9rem;
    background-color: $content-bg-color;
    &:after {
        border-color: transparent transparent #fff transparent;
    }
}

option:hover {
    background: rgb(140, 192, 162);
}

#flight-modal {
    display: none;
    width: 50%;
    height: 50%;
    top: 30%;
    background: $body-bg-color;
    border: 3px solid black;
    position: fixed;
    font-size: 1.5em;
    justify-content: space-between;
    // flex-direction: column;
    // align-items: center;
    padding: 1.5em;
    color: black;
}

#flex-wrap {
    width: 70%;
    // justify-content: center;
    // flex-direction: column;
    // align-items: center;
    padding: 1em;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .body-head {
        font-size: 2em;
    }
    .body-wrapper {
        width: 80vw;
    }
    .sticky {
        width: 100vw;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .body-head {
        font-size: 2em;
    }
    .body-wrapper {
        width: 80vw;
    }
    .sticky {
        width: 100vw;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .body-head {
        font-size: 2em;
    }
    .body-wrapper {
        width: 80vw;
    }
    .sticky {
        width: 100vw;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

// @media only screen and (min-width: 992px) {
//     .body-head {
//         font-size: 2em;
//     }
//     .body-wrapper {
//         width: 80vw;
//     }
//     .sticky {
//         width: 100vw;
//     }
// }

/* Extra large devices (large laptops and desktops, 1200px and up) */

// @media only screen and (min-width: 1200px) {
//     .body-head {
//         font-size: 2em;
//     }
//     .body-wrapper {
//         width: 80vw;
//     }
//     .sticky {
//         width: 95vw;
//     }
// }